* {
    box-sizing: border-box;
}

.give{
    width: 50%;
    float: left;
}

.need{
    width: 50%;
    float:left;
}




.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.grid{
    background-color: #444;
    color: #fff;
    padding: 25px;
    font-size: 3rem;
}


.header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.h1{
    color: maroon;
}