fieldset {
    border-radius: 4px;
    margin: .5em;
}

.h1{
    color: maroon;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
}

.selected {
    border: 2px solid green;
}

* {
    box-sizing: border-box;
}

#give{
    width: 50%;
    float: left;
}

#need{
    width: 50%;
    float:left;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.grid{
    background-color: #444;
    color: #fff;
    padding: 25px;
    font-size: 3rem;
}

.header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.thumbnail {
    width: 100%;
}

table{
    border-collapse: collapse;
    width:100%;
    //display: none;
}

tr,td,th{
    border:1px solid #dddddd;
    text-align: center;
    padding:5px;
}
